/dist
/src-capacitor
/src-cordova
/.quasar
/node_modules
.eslintrc.cjs
/src-ssr
/quasar.config.*.temporary.compiled*
/test
/src/boot
.eslintrc.js
.postcssrc.js
babel.config.js
jest.config.js
quasar.conf.js
wallaby.js
.quasar
.storybook
.vscode
/storybook-static
.github
.husky
jest.setup.js