/dist
/src-cordova
/node_modules
/src-ssr
/test
/src/boot
.eslintrc.js
.postcssrc.js
babel.config.js
jest.config.js
quasar.conf.js
wallaby.js
.quasar
.storybook
.vscode
/storybook-static
.github
.husky
*.md
